.table-wrapper {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    table-layout: auto;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 80vw;
    border-radius: 10px;
    padding: 2rem;
    font-weight: bold;
}

td, th {
    padding: 8px;
}
  
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: rgb(79, 36, 128);
    font-size: 1.25rem;
    border-bottom: 2px rgb(79, 36, 128) solid;
}

.data0 {
    padding-top: 1.25rem;
}

.buttons {
    padding-left: 1rem;
}

.mail-button {
    background-color: rgb(129, 54, 214);
    color: white;
    font-weight: bold;
    outline: none;
    border:rgb(79, 36, 128);
    padding: 0.9rem 1.5rem;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.1s ease-in;
}



.mail-button:hover {
    background-color: rgb(171, 97, 255);
}