.Header {
    width: 100%;
}

.navbar-color {

    background: linear-gradient(to bottom, #A434FF, #D4B1E2);

}

.heading {
    font-size: 1.75rem;
    color: white;
    font-weight: 900;
}

.navlink {
    color: white;
}

.navlink:hover {
    color: #3d1062;
}
