.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.text {
    font-size: 2.75rem;
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.megaphone-img {
    width: 250px;
}

@media screen and (max-width: 550px) {

    .hero-section {
        flex-direction: column;
    }

    .text {
        font-size: 1.25rem;
        width: 90%;
    }

    .megaphone-img {
        width: 200px;
    }

}